body {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: antiquewhite;
}

.calculator { 
  font-family: Arial, sans-serif;
  border: 1px solid #ccc; 
  padding: 10px; 
  width: 160px; 
}

.calculator button { 
  width: 30px; 
  margin: 2px; 
}

#display { 
  width: 140px; 
  margin-bottom: 10px;
 }